@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.eot');
  src: url('../fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Helvetica.svg#Helvetica') format('svg'),
       url('../fonts/Helvetica.ttf') format('truetype'),
       url('../fonts/Helvetica.woff') format('woff'),
       url('../fonts/Helvetica.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AcuminPro-BoldItalic';
  src: url('../fonts/AcuminPro-BoldItalic.eot');
  src: url('../fonts/AcuminPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/AcuminPro-BoldItalic.svg#AcuminPro-BoldItalic') format('svg'),
       url('../fonts/AcuminPro-BoldItalic.ttf') format('truetype'),
       url('../fonts/AcuminPro-BoldItalic.woff') format('woff'),
       url('../fonts/AcuminPro-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
