@media (max-width: 1340px) {
	.layout {
		margin-left: 80px;
	}
	.layout1 {
		margin-left: 80px;
	}
}
@media (max-width: 1277px){
	.layout {
		width: 768px;
	}
	.threebox {
		justify-content: flex-start;
	}
	.minibox {
		margin-right: 40px;
	}
	.minibox:last-child {
		display: none;
	}
	.arrows {
		justify-content: flex-start;
	}
	.arrow-up {
		margin-left: 430px;
	}
	.three-img-son:last-child {
		display: none;
	}
	.five-img {
		display: inline-block;
	}
	.two-img2 {
		margin-left: 0;
	}
	.three-img-son {
		display: inline-block;
	}
	.three-img-son:first-child {
		padding-right: 40px;
		display: inline-block;
	}
	.layout1 {
		max-width: 1277px;
		width: 100%;
		margin: 0 auto;
		padding-left: 80px;
	}
	.footer3 {
		padding-top: 100px;
	}
	.three-img {
		margin-top: 1000px;
		display: flex;
		justify-content: flex-start;
	}
	.first-half {
		margin-left: 80px;
	}
	.setting-border {
		margin-right: 80px;
	}
}
@media (max-width: 1260px) {
	.layout1 {
		display: inline-block;
	}
	.footer-start1 {
		display: flex;
		justify-content: flex-start;
		padding: 50px 0 60px 0;
		margin-left: -180px;
	}
}
@media (max-width: 1180px) {
	.layout {
		margin: 0 auto;
	}
	.background-img {
		margin: 0 auto;
	}
	.mini-container {
		display: flex;
		flex-wrap: wrap;
	}
	.news {
		margin: 0 auto;
		padding: 40px 0 80px 0;
	}
	.half-photo {
		margin-left: 80px;
	}
	.three-type {
		display: inline-block;
		margin-left: 80px;
	}
	.two-box {
		padding-bottom: 40px;
	}
	.second-type {
		margin: 0;
		width: 284px;
	}
	.third-type {
		width: 284px;
		margin-top: 0;
	}
}
@media (max-width: 880px) {
	.minibox {
		width: 284px;
	}
	.pic1 {
		width: 284px;
	}
	.minicontainer1 {
		margin: 0 auto;
		display: inline-block;
	}
	.inside-div {
		margin-top: 0px;
		padding: 87px 0;
	}
	.other-half {
		height: 400px;
		margin-left: 80px;
	}
	.three-type {
		margin-left: 0 auto;
	}
}

@media (max-width: 768px) {
	.layout {
		width: 500px;
	}
	.background-img {
		width: 100%;
		height: 420px;
	}
	.inside-container {
		margin: 80px;
	}
	.shadow1 {
		width: 608px;
	}
	.red1 {
		width: 284px;
		display: none;
	}
	.after-res {
		display: block;
		display: inline-block;
		margin-bottom: 80px;		
	}
	.after-res {
		margin-right: 20px;
	}
	.layout {
		margin-left: 80px;
	}
	.minibox {
		width: 284px;
		height: 350px;
	}
	.threebox {
		display: flex;
		justify-content: flex-start;
	}
	.minibox:last-first {
		padding-left: 40px;
	}
	.minibox:last-child {
		display: none;
	}
	.pic1 {
		width: 284px;
	}
	.downimage {
		width: 204px;
	}
	.first-img {
		width: 608px;
	}
	.second-img {
		width: 608px;
	}
	.three-img {
		margin-top: 1000px;
		display: flex;
		justify-content: flex-start;
	}
	.img {
		width: 284px;
	}
}
@media (max-width: 680px) {
	.half-photo {
		margin: 0 auto;
	}
	.other-half {
		margin: 0 auto;
	}
}