.container {
	max-width: 1440px;
	width: 100%;
	background-color: #F6F8F9;
	margin: 0 auto;
}
/* header */
.logo {
	width: 38px;
	height: 15px;
	margin: 18px 0 0 20px;
}
.navbar {
	display: flex;
	justify-content: flex-end;
}
.navbar-li{
	display: flex;
	justify-content: flex-end;
	margin-top: -17px;
}
.lists {
	margin-left: 22px;
	font-size: 11px;
	color: #343638;
}
.lists1 {
	font-weight: bold;
	margin-left: 22px;
	font-size: 11px;
	color: #343638;
}
.profile {
	margin: -40px 20px 10px 40px;
}
/*section*/
.container1 {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.mini-container {
	max-width: 1440px;
	width: 100%;
	display: flex;
}
.background-img {
	background-image: url('../images/nature.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 840px;
	width: 100%;
	height: 600px;
}
.inside-container {
	position: absolute;
	max-width: 600px;
	width: 100%;
	height: 247px;
	margin: 177px 100px 0 140px;
}
.title {
	font-size: 24px;
	color: white;
	padding-bottom: 40px;
	border-bottom: 2px solid white;
	font-weight: bold;
}
.text {
	font-size: 24px;
	color: white;
	padding-top: 40px;
	font-weight: bold;
}
.text1 {
	font-size: 18px;
	padding: 10px 40px 0 0;
	color: white;
}
.small-pink {
	width: 134px;
	height: 40px;
	margin-top: 30px;
	background-color: #FA6980;
	border-radius: 6px;
}
.text2 {
	padding: 16px 30px;
	font-size: 11px;
	color: white;
}
.news {
	margin: 100px 0 0 100px;
}
.shadow1{
	width: 380px;
	height: 60px;
	border-bottom: 1px solid #EBEDED;
	display: flex;
	justify-content: space-between;
}
.text3 {
	font-size: 24px;
	color: black;
	display: inline-block;
}
.arrow {
	color: #EBEDED;
}
.arrow1 {
	color: #202124;
	margin-left: 40px;
}
.red1 {
	max-width: 420px;
	width: 100%;
	height: 129px;
	margin-top: 41px;
}
.mini1 {
	font-size: 16px;
	color: #FA6980;
}
.mini2 {
	font-size: 16px;
	color: #202124;
	margin-top: 20px;
	font-weight: bold;
}
.mini3 {
	font-size: 16px;
	margin-top: 10px;
	max-width: 350px;
	width: 100%;
	color: #A6ADB4;
}
.clock {
	width: 16px;
	height: 16px;
	margin-top: 10px;
	color: #CBD0D3;
}
.time {
	font-size: 13px;
	color: #A6ADB4;
	margin: 12px 0 40px 10px;
	display: inline-block;
}
/*section2*/
.layout {
	max-width: 1160px;
	width: 100%;
	margin-left: 140px;
}
.arrows {
	display: flex;
	justify-content: space-between;
}
.arrow-up {
	padding-top: 45px;
}
.title2 {
	font-size: 24px;
	padding-top: 40px;
	font-weight: bold;
}
.threebox {
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
	background-color: #FFFFFF;
}
.downimage {
	margin: 40px 0 0 40px;
}
.minititle{
	font-size: 16px;
	color: #202124;
	font-weight: bold;
}
.minitext {
	font-size: 13px;
	color: #A6ADB4;
	margin: 10px 0 10px 0;
	width: 250px;
}
.five-img {
	display: flex;
	justify-content: space-between;
}
.first-img {
	background-image: url('../images/mist.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	max-width: 760px;
	width: 100%;
	height: 430px;
	margin: 40px 0 40px 0;
}
.top1 {
	font-size: 16px;
	color: white;
	font-weight: bold;
	margin: 40px 0 0 40px;
}
.top2 {
	font-size: 24px;
	color: white;
	font-weight: bold;
	margin: 232px 0 0 40px;
}
.top3 {
	font-size: 16px;
	color: white;
	margin: 10px 0 0 40px;
}
.clock1 {
	width: 16px;
	height: 16px;
	margin: 10px 0 0 40px;
	color: #CBD0D3;
}
.time1 {
	margin: 25px 0 0 8px;
	color: #CBD0D3;
	display: inline-block;
}
.two-img2 {
	margin: 510px 0 0 -800px;
}
.second-img {
	background-image: url('../images/fourth.png');
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	max-width: 760px;
	width: 100%;
	height: 430px;
	margin: 40px 40px 0 0;
}
.img {
	margin-top: 40px;
}
.small-title {
	font-size: 16px;
	color: #202124;
	font-weight: bold;
	margin-top: 20px;
}
.time2 {
	margin: 11px 0 0 10px;
	color: #A6ADB4;
}
.three-img:last-child {
	margin-bottom: 100px;
}
/*footer*/
.container3 {
	max-width: 1440px;
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
	margin: 0 auto;
}
.footer1 {
	padding-top: 56px;
	max-width: 379px;
	width: 100%;
	height: 84px;
	display: flex;
	justify-content: space-between;
}
.footer-text {
	font-size: 13px;
	margin-bottom: 8px;
	color: #CBD0D3;
}
.layout1 {
	max-width: 1160px;
	width: 100%;
	margin-left: 140px;
	display: flex;
	justify-content: space-between;
}
.footer2 {
	padding: 58px 0 0 180px;
}
#email {
	width: 262px;
	height: 40px;
	background-color: #A6ADB4;
	border-style: none;
	outline: none;
	padding: 14px 0 16px 20px;
}
.footer2-text {
	font-size: 11px;
	color: #CBD0D3;
	padding-top: 16px;
}
.border1 {
	border: 2px solid white;
	display: flex;
	justify-content: space-between;
}

.arrow2 {
	color: white;
	margin: 12px 19px 0 0;
}
.footer3 {
	padding: 58px 0 0 100px;
}
.icon {
	color: #FFFFFF;
	margin-left: 32px;
}
/*page 2*/
.minicontainer {
	max-width: 1160px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.first-half {
	margin-top: 42px;
	display: flex;
	justify-content: space-between;
}
.home {
	margin-bottom:42px;
}
.story {
	margin: 3px 19px 0 30px;
	font-size: 11px;
	font-weight: bold;
}
.news-world {
	margin-top: 3px;
	font-size: 11px;
	color: #A6ADB4;
}
.second-half {
	border: 2px solid #EBEDED;
	border-radius: 6px;
	width: 40px;
	height: 40px;
	margin-top: 30px;
}
.settings {
	margin: 11px;
	color: #575F66;
}
.half-photo {
	background-image: url('../images/sand.png');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	max-width: 580px;
	width: 100%;
	height: 500px;
}
.inside {
	text-align: center;
	padding-top: 155px;
}
.title1 {
	font-size: 32px;
	color: white;
	font-weight: bold;
	padding-bottom: 20px;
	border-bottom: 2px solid #FA6980;
}
.news-text {
	font-size: 16px;
	padding: 30px 0;
	color: white;
	font-weight: bold;
}
.avatar {
	padding-top: 50px;
}
.other-half {
	background-color: white;
	max-width: 580px;
	width: 100%;
	height: 500px;
}
.inside-div {
	width: 360px;
	height: 246px;
	background-color: white;
	margin: auto;
	margin-top: 127px; 
}
.date {
	font-size: 13px;
	color: #202124;
	padding-bottom: 10px;
	font-weight: bold;
}
.arrowDown {
	display: flex;
	justify-content: space-around;
	border: 2px solid #EBEDED;
	border-radius: 6px;
}
.select {
	font-size: 13px;
	color: #A6ADB4;
	padding: 12px 0 13px 20px;
	width: 360px;
}
.down {
	color: #A6ADB4;
	margin: 17px 20px 17px 0;
}
.words {
	font-size: 13px;
	font-weight: bold;
	margin: 40px 0 10px 0;
}
#fname {	
	border-style: none;
	outline: none;
	border: 2px solid #EBEDED;
	width: 360px;
	height: 40px;
} 
.text2:last-child {
	text-align: center;
}
/*2nd section */
.three-type {
	display: flex;
	justify-content: space-between;
	border-top:2px solid #EBEDED;
	border-bottom:2px solid #EBEDED;
	margin: 40px 0 ;
}
.avatar1 {
	padding-top: 40px;
}
.photo-text {
	font-size: 24px;
	width: 340px;
	padding: 20px 0 92px 0;
}
.second-type {
	width: 360px;
	height: 172px;
	margin: 41px 0 40px 40px;
}
.big-text {
	color: #A6ADB4;
}
.third-type {
	width: 360px;
	height: 128px;
	margin: 41px 0 0 40px;
}
.icon1 {
	margin-top: 20px;
}
/*3rd section*/
.next {
	max-width: 1160px;
	width: 100%;
	height: 880px;
	border-bottom: 2px solid #EBEDED;
	margin: 60px 0;
}
.elephant {
	max-width: 1160px;
	width: 100%;
	height: 500px;
	margin-top: 131px; 
}
.bottom-img {
	margin-top: 40px;
	max-width: 760px;
	width: 100%;
	height: 250px;
}
.texttext {
	font: 14px;
	color: #A6ADB4;
	padding-bottom: 40px;
}
.container4 {
	max-width: 1440px;
	width: 100%;
	height: 200px;
	background-color: #A6ADB4;
	margin: 0 auto;
}